@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #1565c0;
}

.container {
  width: 80vmin;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 50px 30px;
  border-radius: 10px;
}

.header {
  text-align: right;
  font-size: 18px;
  margin-bottom: 30px;
}

.header span {
  font-weight: 600;
}

.text-container {
  margin: 50px 0 30px 0;
}

.input-container {
  text-align: center;
}

textarea {
  resize: none;
  padding: 10px;
  width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.result-container {
  margin-top: 40px;
  display: none;
}

.result-container h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

.result-rate {
  display: flex;
  justify-content: space-around;
}

.success {
  color: #44b267;
}

.fail {
  color: #e81c4e;
}
